{% extends 'base.html' %}
{% load static %} 
{% load crispy_forms_tags %}

{% block title %} Updete Page {% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <h1 class="text-center text-primary my-5">Updete Product</h1>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Updete</button>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock content %}